# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary and client side files
cmake-build-debug
cmake-build-release
.idea
CMakeFiles
_CPack_Packages
Testing

CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
userspace_tablet_driver_daemon
userspace_tablet_driver_daemon*.deb
install_manifest.txt
*.cbp